* {
    margin: 0;
    padding: 0;
}

.header {
    
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 50;
    background-color: #101010;
    color: antiquewhite;
    width: 100vw;
    text-align: center;
    min-height: 80px;
}

.mobile {
    flex-direction: row;
    
    padding: 1.5vh;
    font-size: medium;
    height: 7vh;
    border-bottom: 2px double #ffbf00;
}

.mobile-container {
    display: flex;
    
}

.title {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.title a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.web {
    height:calc(133px + 2vmin);;
    display: flex;
    text-align: center;
    flex-direction: column;
}